
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.green{
	background-color:green;
	width:500;
	height:500;
}
.red{
	background-color:red;
}
.blue{
	background-color:blue;
	width:500;
	height:500;
}